.profile {
  display: flex;
}

.avatar img{
  width:200px;
  border-radius: 50%;
  margin: 20px;
}

.description_block {
  padding: 10px;
}

.changeStatus {
  width: 100%;
}

.changeStatus:hover {
  display: block;
  cursor: pointer;
  background-color: #f0f2f5;
}

.contacts {
  margin-left: 5px;
}

.editButton {
  float: right;
}

.formInput {
  float: right;
}

.user_info {
  display: block;
}
.block {
  margin-top: 10px;
}